@import "tailwindcss";

:root {
  --background: black;
  --foreground: #171717;
}

@theme inline {
  /* Fonts */
  --font-lexend: var(--font-lexend);

  /* Base colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary */
  --color-primary-900: #200a3a;
  /* headings menu backgorund cta */
  --color-primary-800: #350175;

  --color-primary-700: #500bb5;
  /* buttons */
  --color-primary-600: #6c12eb;
  --color-primary-500: #8642f8;
  --color-primary-400: #b080ff;
  --color-primary-300: #c6a1ff;

  /* Secondary */
  --color-secondary-red: #ed4245;
  --color-secondary-orange: #ff5e59;
  --color-secondary-pink: #ff8480;

  /* Neutral */
  --color-neutral-white: #ffffff;
  --color-neutral-black: #23272a;
  --color-neutral-gray: #f2f2f2;

  /* Support */
  --color-support-green: #208063;
  --color-support-malachite: #58f287;
  --color-support-eucalyptus: #52d999;
  --color-support-gold: #feb602;
  --color-support-yellow: #fee75c;
  --color-support-flavescent: #ffed97;

  --animate-spin-slower: spin 6s linear infinite;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background:black;
    --foreground: #ededed;
  }
} */

@layer base {
  h1,
  h2,
  h3 {
    color: #350175;
  }
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lexend), sans-serif;
  }
}
