@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* Fonts */
  --font-lexend: var(--font-lexend);

  /* Base colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary */
  --color-primary-900: #200A3A;
  --color-primary-800: #350175;
  --color-primary-700: #500BB5;
  --color-primary-600: #6C12EB;
  --color-primary-500: #8642F8;
  --color-primary-400: #B080FF;
  --color-primary-300: #C6A1FF;

  /* Secondary */
  --color-secondary-red: #ED4245;
  --color-secondary-orange: #FF5E59;
  --color-secondary-pink: #FF8480;

  /* Neutral */
  --color-neutral-white: #FFFFFF;
  --color-neutral-black: #23272A;
  --color-neutral-gray: #F2F2F2;

  /* Support */
  --color-support-green: #208063;
  --color-support-malachite: #58F287;
  --color-support-eucalyptus: #52D999;
  --color-support-gold: #FEB602;
  --color-support-yellow: #FEE75C;
  --color-support-flavescent: #FFED97;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lexend), sans-serif;
}
